/* Style responsive pour les petits écrans */

@media screen and (max-width:768px) {

	/* Personnalisation menu */

	.cursor {
		display: none;
	}

	nav {
		flex-direction: column;
		align-items: flex-start;
	}

	nav ul li {
		display: none;
	}

	nav ul {
		margin-top: 1.5rem;
	}

	nav ul.show li {
		display: block;
		flex-direction: column;
		align-items: flex-start;
		align-items: center;
		margin-bottom: 10px;
	}

	.Contenu {
		flex-direction: column;
		gap: 0;
	}

	.btn {
		display: block;
		margin-top: -0.5rem;
	}

	/* Section présentation */

	#Presentation {
		margin-bottom: 10rem;
	}

	.Presentation {
		display: flex;
		align-items: center;
		margin-left: 2rem;
	}

	.Bloc {
		margin-bottom: 1rem;
		font-size: 1rem;
		color: #2D2E32;
	}

	.contenuPresentation {
		padding: 0;
	}

	.contenuPresentation span a img {
		width: 20px;
	}

	button {
		margin-left: 0;
	}

	.Photo {
		max-width: 90%;
	}

	.Main {
		margin-top: 10px;
		width: 40px;
		height: 40px;
	}

	/* Section personnel */

	.Personnel {
		display: grid;
	}

	.Personnel img {
		margin-left: 17%;
		margin-top: 0rem;
		width: 60%;
	}

	.contenu-Carte .slide {
		margin-top: 20px;
		padding: 0;
		margin-left: -2rem;
	}

	.navigation {
		margin-left: -2rem;
	}

	.Carte {
		margin-top: 3rem;
	}

	.card.centre {
		margin-top: 50px;
	}

	/* Section acquis */

	#Acquis {
		margin-top: 45rem;
	}

	.Zone {
		display: block;
	}

	article {
		margin-left: -2rem;
	}

	.icon {
		margin-left: 3rem;
	}

	/* Section projets */

	.ensembleProjets {
		width: 95%;
		padding-right: 0;
		padding-left: 0;
	}

	.projetContenu p {
		width: 100%;
	}

	.projetContenu div img {
		width: 25px;
	}

	.Etiquette {
		width: 100%;
	}

	.Projets {
		flex-direction: column;
	}

	.projetImg .Dashboard,
	.projetImg .Medium {
		padding: 0;
	}

	.Etiquette:hover .TitreProjet {
		display: none;
	}

	.TitreProjet {
		display: relative;
	}

	#projets {
		margin-top: 60rem;
	}

	/* Section contact */

	#Contact {
		margin-top: 40rem;
	}

	#Contact p {
		text-align: center;
	}

	#submitButton {
		width: 200px;
	}

	/* Footer */

	footer {
		margin-top: 10%;
	}

	.footer_Section {
		margin: 0 5px;
	}
}

/* Media screen pc portbale */

@media screen and (min-width:769px) and (max-width:1500px) {

	.Personnel img {
		margin-left: 17rem;
	}

	.projetImg img,
	.projetImg .Dashboard,
	.projetImg .Medium {
		width: 400px;
	}

	#projets {
		margin-top: 8rem;
	}

	.projetContenu div a img {
		margin-top: 0.5rem;
	}

	#Contact {
		margin-top: 12rem;
	}

	footer {
		margin-top: 2rem;
	}
}