@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* Personnalisation style */

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins',sans-serif;
	color: white;
	background-color: #212121;
	transition: background-color 0.5s ease;
	scroll-behavior: smooth;
}

header {
	display: flex;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #212121;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
}

header img {
	width: 73px;
	height: 75px;
	margin-top: 10px;
	border-radius: 50%;
}

a {
	text-decoration: none;
}

/* Animation de fondu en entrée */

.fade-in {
	opacity: 0;
	transition: opacity 0.5s ease;
}

.fade-in.visible {
	opacity: 1;
}

.fade-in svg circle {
	opacity: 1;
}

/* Personnalisation Menu partie supérieure */

nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	list-style: none;
}

nav ul li {
	margin: 0 2rem;
}

nav ul li a {
	position: relative;
	text-decoration: none;
	font-size: 20px;
	line-height: 1em;
	letter-spacing: 2px;
	color: #fff;
}

nav ul li a img {
	width: 40px;
	height: 40px;
	filter: grayscale(100%);
}

nav ul li a::before {
	content: attr(data-text);
	position: absolute;
	width: 0;
	border-bottom: 2px solid cyan;
	overflow: hidden;
	transition: 1s;
}

nav ul li a:hover::before {
	width: 100%;
}

.icone_Menu {
	margin-left: 20%;
}

/* Personnalisation Bouton Dark Light */

.mode {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

.soleil,
.lune {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.soleil::before,
.lune::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	transform: translate(-50%, -50%);
}

.soleil::before {
	background-image: url('https://cdn-icons-png.flaticon.com/512/753/753241.png');
	background-size: cover;
}

.lune::before {
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/33/Lune_ico.png');
	background-size: cover;
}

/* Personnalisation page avec light mode */

.light-mode {
	color: #212121;
	background-color: #fff;
}

.light-mode svg text {
	fill: #212121;
}

.light-mode #Accueil .social img,
.light-footer .footer_Section img {
	border-radius: 20%;
	background-color: #212121;
}

.light-header,
.light-footer {
	color: #212121;
	background-color: #fff;
}

.light-footer .footer_Section p {
	color: #212121;
}

.light-header a {
	color: #212121;
}

.active-button #personnel,
.active-button #langage,
.active-button #centre {
	color: #212121;
}

/* Désactiver bouton pour responsive */

.btn {
	display: none;
}

/* Personnalisation ensemble section et titre unique */

.section {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin-top: 3%;
}

/* Personnalisation de la barre d'avancement slon la position sur la page */

progress {
	position: fixed;
	z-index: 1;
	bottom: 15px;
	left: 0;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 8px;
	border: none;
	background: transparent;
}

progress::-webkit-progress-bar {
	background: inherit;
}

progress::-webkit-progress-value {
	background: #8f44fd;
}

/* Personnalisation de l'effet sur le background */

#particles-js {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#Front_Back h1,
#Competences h1,
#Projets h1,
#Parcours h1 {
	margin-top: -15%;
	text-align: center;
	color: cyan;
}

/* Section accueil */

.volet_Accueil {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	align-items: center;
	margin-top: 8em;
}

.contenu_Accueil {
	text-align: center;
	font-size: 20px;
}

.mot_Dynamique {
	font-size: 26px;
	font-weight: bold;
	color: cyan;
}

.avatar {
	width: 450px;
	height: 450px;
	margin-left: 25%;
	border-radius: 50%;
	overflow: hidden;
}

.avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Section social --> Réseau GitHub et LinkedIn */

.social {
	margin-top: 20px;
	text-align: center;
}

.social .LinkedIn {
	margin-right: 40px;
	margin-left: 80px;
}

.social a img {
	width: 130px;
	height: 130px;
}

/* Section about-me */

.about-me {
	display: flex;
	position: relative;
	align-items: center;
}

.about-me img {
	width: 450px;
	height: 450px;
	margin-left: 10%;
	border-radius: 50%;
	overflow: hidden;
}

.contenu-Carte {
	flex: 1;
	margin-left: 6%;
	padding: 20px;
	text-align: center;
	font-family: 'Poppins',sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

.contenu-Carte div {
	padding: 40px;
	border-radius: 10px;
	font-size: 13px;
	font-weight: 300;
	background-color: #333;
	transition: transform 0.4s;
}

.zone_Carte {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 20px;
}

/* Personnalisation boutons */

.buttons_Presentation {
	position: absolute;
	top: 10px;
	left: 43%;
}

.buttons_Presentation button {
	margin: 5px;
	padding: 10px 20px;
	border: none;
	font-family: 'Poppins',sans-serif;
	font-size: 16px;
	color: #fff;
	background-color: transparent;
	cursor: pointer;
}

.buttons_Presentation button.active {
	border-bottom: 2px solid cyan;
	font-size: 20px;
	transition: transform 0.4s;
	transform: translateY(-20px);
}

/* Style spécifique aux cartes pour les rendre verticales */

/* Première catégorie de cartes --> Personnel */

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 60px;
	text-align: center;
}

.card img {
	width: 80px;
	height: 80px;
	margin-left: 5%;
	border-radius: 0;
}

.card p {
	font-size: 14px;
}

.card .Cerveau {
	width: 120px;
	height: 80px;
	border-radius: 0;
}

/* Deuxième catégorie de cartes --> Langage */

.card.langage {
	margin: 0;
	margin-top: 60px;
	padding: 40px;
}

.card.langage p {
	font-size: 14px;
}

.card.centre {
	margin-top: 99px;
}

.card.langage img,
.card.centre img {
	width: 120px;
	height: 80px;
	margin-left: 5%;
	border-radius: 0;
}

/* Section framework */

.technologie {
	display: flex;
	align-items: center;
}

.framework,
.framework2 {
	height: 420px;
	margin-top: 4%;
	margin-bottom: 20px;
	margin-left: 30%;
	padding: 20px;
	max-width: 300px;
	border-radius: 10px;
	text-align: center;
	background-color: #f0f0f0;
}

.framework2 {
	margin-left: 5%;
}

.framework2 p {
	margin-top: 10%;
}

.framework img {
	width: 150px;
	margin-bottom: 20px;
}

.framework:hover,
.framework2:hover {
	border: 3px solid yellow;
	transform: translateY(-10px);
}

.contenu_Carte {
	width: 100%;
	color: #333;
}

.contenu_Carte h2 {
	margin-top: 0;
	margin-bottom: 10px;
}

/* Section projets */

#Projets {
	margin-top: -10%;
}

#Projets h1 {
	margin-bottom: 7%;
}

.zone_Projet {
	display: grid;
	grid-gap: 20px;
	align-items: center;
	justify-content: center;
}

.carte_Projet {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	background-color: #212121;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;
}

.carte_Projet img {
	width: 40%;
	height: 400px;
	object-fit: cover;
}

.carte_Projet:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contenu_Projet {
	display: flex;
	position: absolute;
	top: 0;
	left: 50%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 33.5%;
	height: 100%;
	padding: 20px;
	color: white;
}

.contenu_Projet h2 {
	margin-bottom: 10px;
	font-size: 24px;
}

.contenu_Projet p {
	margin-bottom: 20px;
	text-align: center;
	font-size: 14px;
}

.contenu_Projet a {
	padding: 8px 16px;
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
	background-color: #007bff;
	transition: background-color 0.3s ease;
}

/* Section competences */

.competences,
#Parcours,
.parcours-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.circle {
	fill: #333;
	stroke: orange;
	stroke-width: 3px;
}

.content {
	font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
	font-size: 10px;
	fill: white;
	text-anchor: middle;
	dominant-baseline: middle;
}

/* Section parcours */

#Parcours h1 {
	margin-top: 60%;
	margin-bottom: 5%;
}

.parcours {
	margin-top: 8%;
}

.fleche {
	margin: 0 20px;
	font-size: 40px;
	color: purple;
}

.etudes {
	margin-left: 6%;
}

.etudes2 {
	margin-left: 8%;
}

.etudes3 {
	margin-left: 15%;
}

.etudes4 {
	margin-left: 18%;
}

/* Section Formulaire */

#Commentaire {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 25%;
}

/* Personnalisation champs de saisie et bouton du formulaire */

input {
	width: 300px;
	height: 50px;
	margin-top: 10px;
	margin-top: 5%;
	border: 1px solid #ccc;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
}

#submitButton {
	width: 300px;
	height: 50px;
	margin-top: 10px;
	margin-top: 5%;
	border: 1px solid cyan;
	border-radius: 10px;
	font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
	font-weight: bold;
	color: #fff;
}

#submitButton:hover {
	color: #000;
	background-color: cyan;
}

/* Style pour le footer */

footer {
	margin-top: -8%;
	padding: 20px;
	text-align: center;
	color: #fff;
	background-color: #212121;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
}

.contenu_Footer {
	display: flex;
	justify-content: center;
}

.footer_Section {
	flex: 1;
	margin: 0 40px;
	max-width: 300px;
}

.footer_Section h3 {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 2px solid cyan;
	font-size: 16px;
}

.footer_Section p {
	margin-top: 35px;
	font-size: 14px;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	list-style: none;
}

.social-icons li {
	margin: 0 10px;
}

.social-icons img {
	width: 60px;
	height: 60px;
}

.footer_Section p,
.social-icons a {
	color: #fff;
}

.footer_Section a:hover {
	opacity: 0.7;
}