@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Personnalisation style */

/* Sélecteur universel */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: w;
	src: url("../FONT/WanoQuin-ExtraBold.otf");
}

body {
	overflow-x: hidden;
	font-family: "Poppins",sans-serif;
	color: #141414;
	background-color: #fff;
	cursor: none;
}

body, html { height: 100%; }

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 90vh;
}

/* Personnalisation curseur */

.cursor {
	position: fixed;
	width: 40px;
	height: 40px;
	margin-left: -20px;
	margin-top: -20px;
	border-radius: 50%;
	border: 2px solid #121212;
	transition: transform 0.3s ease;
	transform-origin: center center;
	pointer-events: none;
	z-index: 1000;
}

.cursor::after {
	content: "";
	position: absolute;
	width: 6px;
	height: 6px;
	background-color: #121212;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1; /* Assure that the dot is on top of the cursor */
}

.grow, .grow-small {
	transform: scale(4);
	background: white;
	mix-blend-mode: difference; 
	border: none;
}

.grow-small{
	transform: scale(2);
}

/* Personnalisation de la barre d'avancement slon la position sur la page */

.Barre {
	z-index: 1;
	position: fixed;
	bottom: 5px;
	left: 0;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 8px;
	border: none;
	background: transparent;
}

.Barre::-webkit-progress-bar { background: inherit; }

.Barre::-webkit-progress-value { background: #8f44fd; }

/* Personnalisation header comportant le Menu */

.Menu {
	display: flex;
	z-index: 999;
	position: fixed;
	top: 0;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	padding: 1rem 3rem;
	border-bottom: 1px solid #141414;
	color: #141414;
	transition: background 0.5s ease-in-out;
}

/* Personnalisation bande défilante */

.Menu .Action {
	position: absolute;
	bottom: 0;
	width: 50px;
	height: 2px;
	background: linear-gradient(90deg , transparent , #141414);
	animation: animate 5s infinite linear;
}

@keyframes animate {
	0% {
		left: 0;
		transform: translate(-100%);
	}

	100% {
		left: 100%;
		transform: translate(0%);
	}
}

/* Personnalisation contenu du menu */

.Logo {
	text-transform: capitalize;
	font-family: w;
	font-size: 30px;
	cursor: pointer;
}

.Contenu {
	display: flex;
	flex-direction: row;
	text-transform: uppercase;
	font-weight: 300;
	list-style: none;
	gap: 5rem;
}

nav ul li a { position: relative; }

nav ul li a::before {
	content: attr(data-text);
	position: absolute;
	width: 0;
	border-bottom: 2px solid #8f44fd;
	overflow: hidden;
	color: transparent;
	transition: 1s;
}

nav ul li a:hover::before { width: 100%; }

li { list-style: none; }

a {
	text-decoration: none;
	color: #000;
}

.btn { display: none; }

/* Style Présentation personnelle */

.Presentation {
	display: flex;
	align-items: center;
	margin-left: 10rem;
	margin-top: 5rem;
}

.contenuPresentation {
	flex: 1;
	padding: 20px;
}

.contenuPresentation .Logo { width: 10%; }

.Bloc {
	font-size: 4rem;
	color: #2D2E32;
}

a img {
	width: 5%;
	margin-top: 1rem;
}

span a img:hover {
	width: 5%;
	margin-top: 1rem;
	transform: scale(1.1);
	opacity: 0.8;
}

button {
	width: 11rem;
	margin-top: 1rem;
	margin-left: 12rem;
	padding: 1rem;
	border-radius: 2rem;
	font-weight: 600;
	transition: all 300ms ease;
}

.barreLongueur {
	position: relative;
	text-align: center;
}

.barreLongueur:before,
.barreLongueur:after {
	content: '';
	border: none;
	border-top: 2px solid black;
	width: 30%;
	position: absolute;
	top: 50%;
}

.barreLongueur:before {
	right: 102%;
}

.barreLongueur:after {
	left: 102%;
}

.Photo {
	max-width: 65%;
	border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	transition: border-radius 0.5s ease-in-out;
}

.Main {
	width: 60px;
	height: 60px;
}

/* Style Contenu personnel */

.Personnel {
	display: flex;
	position: relative;
	align-items: center;
	margin-top: 5rem;
}

.Personnel img {
	width: 25%;
	margin-left: 25rem;
	box-shadow: 0 0 10px rgba(0,0,0,0.75);
}

/* Style cartes */

.contenu-Carte {
	flex: 1;
	margin-left: 6%;
	padding: 20px;
	text-align: center;
	font-family: 'Poppins',sans-serif;
	font-size: 15px;
	line-height: 1.5;
}

.contenu-Carte h3 {
	font-size: 1.2rem;
	font-weight: 600;
}

.slide {
	display: none;
	flex-shrink: 0;
	align-items: center;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	transition: opacity 0.5s;
}

.slide h3 {
	margin-top: 3em;
	margin-bottom: 1em;
}

.slide.active {
	display: block;
	opacity: 1;
}

.navigation {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.bulle {
	width: 12px;
	height: 12px;
	margin: 0 5px;
	border-radius: 50%;
	background-color: #333;
	transition: background-color 0.3s;
	cursor: pointer;
}

.bulle.active {
	background-color: #ccc;
}

/* Personnalisation maîtrise langage */

.Langage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 10rem;
}

.Zone {
	margin-top: 2rem;
	margin-bottom: 2rem;
	gap: 2rem;
}

.Carte {
	flex: 1;
	padding: 1.5rem;
	border: rgb(53,53,53) 0.1rem solid;
	border-color: rgb(163,163,163);
	border-radius: 2rem;
	text-align: center;
	background: white;
}

.Intitule {
	margin-bottom: 2rem;
	font-size: 1.75rem;
	font-weight: 600;
	color: rgb(85,85,85);
}

.Zone { display: flex; }

.Article {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: initial;
	gap: 2.5rem;
}

article {
	display: flex;
	justify-content: flex-start;
	width: 10rem;
	gap: 0.5rem;
}

article .icon { cursor: default; }

.icon {
	height: 2rem;
	cursor: pointer;
}

/* Style partie projets */

#projets {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 0.8rem;
}

.ensembleProjets {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 20px;
	gap: 25px;
	max-width: 1420px;
	margin-top: 2rem;
}

.Etiquette {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 1.7rem;
	overflow: hidden;
	width: calc(33.33% - 20px);
	position: relative;
}

.projetImg {
	position: relative;
}

.projetImg img {
	width: 100%;
	border-radius: 1.7rem;
	object-fit: cover;
}

.TitreProjet {
	font-size: 1.5rem;
	font-weight: 600;
	color: #141414;
	margin-bottom: 0.5rem;
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: rgba(255, 255, 255, 0.9);
	padding: 10px;
}

.projetContenu {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.9);
	padding: 20px;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.Etiquette:hover .projetContenu {
	display: block;
	opacity: 1;
}

.Etiquette:hover .TitreProjet {
	display: block;
}

.projetContenu p {
	color: #767676;
	margin-top: 0;
}

.projetContenu div a img {
	width: 30px;
	height: 30px;
	margin: 0 10px;
	margin-top: 1rem;
}

#Contact { margin-top: 10em; }

/* Personnalisation footer */

footer {
	padding: 20px;
	text-align: center;
	color: #767676;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
}

.contenu_Footer {
	display: flex;
	justify-content: center;
}

.footer_Section {
	flex: 1;
	margin: 0 40px;
	max-width: 300px;
}

.footer_Section h3 {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 2px solid cyan;
	font-size: 16px;
}

.footer_Section p { font-size: 14px; }

.footer_Section i {
	margin-top: 1.2rem;
	font-size: 1.2rem;
	color: black;
}

.footer_Section span {
	margin-left: 5px;
	font-size: 1rem;
	color: black;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	list-style: none;
}

.social-icons li { margin: 0 10px; }

.social-icons img {
	width: 30px;
	height: 30px;
}

.footer_Section p, .social-icons a { color: #767676; }

.footer_Section a:hover { opacity: 0.7; }