@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Personnalisation style */

/* Sélecteur universel */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: w;
	src: url("../FONT/WanoQuin-ExtraBold.otf");
}

body {
	overflow-x: hidden;
	font-family: "Poppins",sans-serif;
	color: #141414;
	background-color: #fff;
}

body, html { height: 100%; }

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 90vh;
}

/* Personnalisation de la barre d'avancement slon la position sur la page */

.Barre {
	z-index: 1;
	position: fixed;
	bottom: 5px;
	left: 0;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 8px;
	border: none;
	background: transparent;
}

.Barre::-webkit-progress-bar { background: inherit; }

.Barre::-webkit-progress-value { background: #8f44fd; }

/* Personnalisation header comportant le Menu */

.Menu {
	display: flex;
	z-index: 1000;
	position: fixed;
	top: 0;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	padding: 1rem 3rem;
	border-bottom: 1px solid #141414;
	color: #141414;
	background-color: #fff;
}

/* Personnalisation bande défilante */

.Menu .Action {
	position: absolute;
	bottom: 0;
	width: 50px;
	height: 2px;
	background: linear-gradient(90deg , transparent , #141414);
	animation: animate 5s infinite linear;
}

@keyframes animate {
	0% {
		left: 0;
		transform: translate(-100%);
	}

	100% {
		left: 100%;
		transform: translate(0%);
	}
}

/* Personnalisation contenu du menu */

.Logo {
	text-transform: capitalize;
	font-family: w;
	font-size: 30px;
	cursor: pointer;
}

.Contenu {
	display: flex;
	flex-direction: row;
	text-transform: uppercase;
	font-weight: 300;
	list-style: none;
	gap: 5rem;
}

nav ul li a { position: relative; }

nav ul li a::before {
	content: attr(data-text);
	position: absolute;
	width: 0;
	border-bottom: 2px solid #8f44fd;
	overflow: hidden;
	color: transparent;
	transition: 1s;
}

nav ul li a:hover::before { width: 100%; }

li { list-style: none; }

a {
	text-decoration: none;
	color: #141414;
}

.btn { display: none; }

/* Style Présentation personnelle */

.Presentation {
	display: flex;
	align-items: center;
	margin-left: 10rem;
	margin-top: 5rem;
}

.contenuPresentation {
	flex: 1;
	padding: 20px;
}

.contenuPresentation .Logo { width: 10%; }

.Bloc {
	font-size: 4rem;
	color: #2D2E32;
}

a img {
	width: 5%;
	margin-top: 1rem;
}

span a img:hover {
	width: 5%;
	margin-top: 1rem;
	transform: scale(1.1);
	opacity: 0.8;
}

button {
	width: 11rem;
	margin-top: 1rem;
	margin-left: 12rem;
	padding: 1rem;
	border-radius: 2rem;
	font-weight: 600;
	transition: all 300ms ease;
}

.Photo {
	max-width: 60%;
	border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	transition: border-radius 0.5s ease-in-out;
}

.Main {
	width: 60px;
	height: 60px;
	animation: wave 2s infinite;
}

@keyframes wave {
	0%, 100% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(30deg);
	}
}

/* Style Contenu personnel */

.Personnel {
	display: flex;
	position: relative;
	align-items: center;
	margin-top: 5rem;
}

.Personnel img {
	width: 25%;
	margin-left: 25rem;
	box-shadow: 0 0 10px rgba(0,0,0,0.75);
}

/* Personnalisation boutons */

.serieBouton {
	position: absolute;
	top: 10px;
	left: 55%;
}

.serieBouton button {
	width: 200px;
	margin: 5px;
	padding: 10px 20px;
	border: none;
	font-family: 'Poppins',sans-serif;
	font-size: 14px;
	color: #141414;
	cursor: pointer;
	background: transparent;
	box-shadow: 0 2px 5px 0 rgba(0, 255, 255, 0.4);
}

.serieBouton button.active {
	border-bottom: 2px solid cyan;
	font-size: 16px;
	transition: transform 0.4s;
	transform: translateY(-20px);
	box-shadow: none;
}

/* Style cartes */

.contenu-Carte {
	flex: 1;
	margin-left: 6%;
	padding: 20px;
	text-align: center;
	font-family: 'Poppins',sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

.contenu-Carte h3 {
	font-size: .8rem;
	font-weight: 600;
}

.contenu-Carte div {
	width: 80%;
	padding: 40px;
	border-radius: 10px;
	font-weight: 300;
	color: #141414;
	transition: transform 0.4s;
}

/* Première catégorie de cartes --> Personnel puis Centres d'intêrets */

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 60px;
	text-align: center;
}

.card img {
	width: 80px;
	height: 80px;
	margin-left: 5%;
	border-radius: 0;
}

.card.centre { margin-top: 70px; }

.Niveau {
	width: 30%;
	height: 8px;
	margin-top: 5px;
	border-radius: 4px;
	overflow: hidden;
	background-color: #f0f0f0;
}

/* Personnalisation maîtrise langage */

.Langage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 10rem;
}

.Zone {
	margin-top: 2rem;
	margin-bottom: 2rem;
	gap: 2rem;
}

.Carte {
	flex: 1;
	padding: 1.5rem;
	border: rgb(53,53,53) 0.1rem solid;
	border-color: rgb(163,163,163);
	border-radius: 2rem;
	text-align: center;
	background: white;
}

.Intitule {
	margin-bottom: 2rem;
	font-size: 1.75rem;
	font-weight: 600;
	color: rgb(85,85,85);
}

.Zone { display: flex; }

.Article {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: initial;
	gap: 2.5rem;
}

article {
	display: flex;
	justify-content: flex-start;
	width: 10rem;
	gap: 0.5rem;
}

article .icon { cursor: default; }

.icon {
	height: 2rem;
	cursor: pointer;
}

/* Style partie projets */

#projets { margin-top: 25rem; }

.ensembleProjets {
	padding-right: 15rem;
	padding-left: 20rem;
}

.ensembleProjets .Projets {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 5rem;
	gap: 5rem;
}

.Article { gap: 2rem; }

.Etiquette {
	display: flex;
	align-items: center;
	border-radius: 1.7rem;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.projetImg {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.projetImg img {
	width: 500px;
	border-radius: 1.7rem;
	object-fit: cover;
}

.projetImg .Dashboard,
.projetImg .Medium {
	width: 500px;
	padding: 1.2rem;
	border-radius: 1.7rem;
	object-fit: cover;
}

.projetContenu {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.projetContenu h4 {
	text-align: center;
}

.projetContenu .TitreProjet {
	font-family: w;
	font-size: 2rem;
	font-weight: 600;
	color: #141414;
}

.projetContenu p {
	width: 60%;
	margin-top: 1rem;
	color: #767676;
}

#Contact { margin-top: 32rem; }

/* Personnalisation footer */

footer {
	margin-top: 4rem;
	padding: 20px;
	text-align: center;
	color: #767676;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
}

.contenu_Footer {
	display: flex;
	justify-content: center;
}

.footer_Section {
	flex: 1;
	margin: 0 40px;
	max-width: 300px;
}

.footer_Section h3 {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 2px solid cyan;
	font-size: 16px;
}

.footer_Section p { font-size: 14px; }

.footer_Section i {
	margin-top: 1.2rem;
	font-size: 1.2rem;
	color: black;
}

.footer_Section span {
	margin-left: 5px;
	font-size: 1rem;
	color: black;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	list-style: none;
}

.social-icons li { margin: 0 10px; }

.social-icons img {
	width: 30px;
	height: 30px;
}

.footer_Section p, .social-icons a { color: #767676; }

.footer_Section a:hover { opacity: 0.7; }